{
  "port": "3001",
  "db_user": "traffic_ops",
  "db_pass": "twelve",
  "db_server": "localhost",
  "db_name": "to_development",
  "db_ssl": false,
  "to_secret": "mONKEYDOmONKEYSEE.",
  "to_url": "http://localhost:3000",
  "insecure": true,
  "cert_path": "/opt/traffic_ops/server.crt",
  "log_location_error": "stdout",
  "log_location_warning": "stdout",
  "log_location_event": "stdout",
  "log_location_debug": "stdout",
  "key_path": "/opt/traffic_ops/server.key"
}
